html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4B4453;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 150px;
}

.gear {
  animation: rotate 1s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
